.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    left: 5%;
    height: 20%;
    flex-wrap: wrap;
  }
  
  body{
      background-image: url("../images/fotojaMain.jpg");
  }
  
  .main{
      margin-top: -50px;
  }
  nav{
    width: 95%;
    height: 5%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  
  .logo{
    flex-basis: 20%;
  }
  .logo img{
    width: 150px;
  }
  .nav-links{
    flex: 1;
    text-align: right;
    
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    
  }




@media only screen and (max-width:375px) {
    .header {
      flex-direction: column;
    }
  
    .header img {
      height: 50px;
      width: 50px;
      position: relative;
      left: 40%;
    }
  
    .headerList {
      padding: 0;
    }
  }
  
  @media only screen and (min-width:1366px) {}
  
  table,
  td,
  th {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  td,
  th {
    padding: 10px 100px;
    background-color: white;
  }
  
  tr:nth-child(odd) {
    background-color: lightslategray;
  }